<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8"/>

    <title>Simple Python Flask App</title>
  </head>

  <body>
    <h1>Simple Python App</h1>

    <br/>

    <h2>What's this page?</h2>
    <p>This is part of a project for the subject "Programming for engineering",
      in which I had to publish a web page using Python.
      As you can see, it's just a simple single-page application.
    </p>

    <br/>

    <h2>Who is the author of this page?</h2>
    <p>Hello! My name is David Pérez Zapata and I'm a systems engineering
      student at National University of Colombia. I like going out to take some
      photos, doing origami and most important: reading books.
      Regarding my education and knowledge, I've been learning about web
      development, specially FrontEnd with the use of React.js (though, as you
      can see, I'm still not very good at styling). But for this page I wanted
      to keep it simple, that's all.
    </p>

    <br/>

    <h2>Some random stuff.</h2>
    <p>Last but not least, I can recommend you two of my favorite things on the
      internet.
    </p>
    <ul>
      <li>
        <b><a href="https://en.wikipedia.org/wiki/The_Stormlight_Archive">The Stormlight Archive</a>, by Brandon Sanderson:</b>
        My favorite book series.
      </li>
      <li>
        <b><a href="https://en.wikipedia.org/wiki/Land_of_the_Lustrous">Land of the Lustrous</a>, by Haruko Ichikawa:</b>
        My favorite manga.
      </li>
    </ul>
    
    <br/>
    <p>Oh, by the way, if you add /surprise to the URL of this page you'll get...
      yes, a surprise.
    </p>
  </body>

</html>